.convert {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 700px;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background: #737b88;
    padding: 20px;
}

.convert__show {
    display: flex;
    width: 100%;
    height: 243px;
    background: #ccc;

    .convert__show__currency {
        display: flex;
        margin: auto;
        justify-content: center;
        width: 50%;
        font-size: 60px;
    }

    .nameCurrency {
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 300;
        margin: 0px 10px 0px 0px;
    }
}

.convert__exgenge {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    .currency {
        display: flex;
        justify-content: center;
    }
    input {
        font-size: 35px;
        width: 70%;
        font-family: roboto;
        border: 1px solid #000;
        border-right: 0;
    }
    input:focus {
        outline: 0;
        border-color: red;
    }
    .selector {
        color: #000;
        font-size: 20px;
        font-weight: 400;
        font-family: roboto;
        background: #ccc;
        border: 1px solid #000;
    }
    .selector:focus {
        border-color: red;
    }
}

.top {
    color: green;
}
.bottom {
    color: red;
}