.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;

    .header__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 700px;
        margin: auto;
    }
}

.header__mood {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 30px;
    border-radius: 10px;
    background: #737b88;

    .header__moon {
        display: block;
        height: auto;
        width: 20px;
    }
    .header__sun {
        display: none;
        height: auto;
        width: 20px;
    }
}

.none {
    background: #737b88;
}

.burger {
    border: 0;
    cursor: pointer;
    background: none;
}

.burger__item {
    display: block;
    width: 24px;
    height: 4px;
    background: #737b88;
    position: relative;
    border-radius: 2px;
}

.burger__item:before,
.burger__item:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #737b88;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.burger__item:before {
    top: -7px;
}
.burger__item:after {
    top: 7px;
}

.burger__background {
    display: none;
    width: 100%;
    height: 100vh;
    background: #000000bd;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    transition: 0.2s;
}
.burger__background_two {
    display: none;
    width: 100%;
    height: 100vh;
    background: #000000bd;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    transition: 0.2s;
}
.burger__background.active {
    display: block;
}
.burger__background_two.active {
    display: block;
}

.burger__menu {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 45%;
    height: 100vh;
    background: linear-gradient(#fffccb, #bfa6ae);
    position: absolute;
    top: 0;
    left: -45%;
    z-index: 2000;
    transition: 0.3s;

    .menu__close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        margin: 10px;
        cursor: pointer;

        .close__img {
            display: block;
            width: 20px;
            height: auto;
        }
    }
}

.burger__menu.active {
    left: 0%;
}















