.about__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 35px;
    overflow: hidden;
}

.swipe__menu {
    display: flex;
}

.swipe__content {
    width: 100%;
    height: 160px;
    background: red;
    margin: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #0000006b;
    transition: background 0.3s linear;
    transition: 0.3s linear;
}

.swipe__content:hover {
    background: rgb(156 179 109 / 60%);
    border-radius: 45px;
}







