.about__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 35px;
    overflow: hidden;
}

.swipe__block {
    position: relative;
    left: 0;
    top: 0;
}

.swipe__menu {
    position: relative;
    display: flex;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    transition: 0.3s;
    left: 0;
}
.swipe__menu:last-child {
    margin-bottom: 0;
}

.swipe__content {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: red;
    opacity: 0.8;
    margin-top: 10px;
    border-radius: 30px;
}
.swipe__content--left {
    left: 100%;
    background: greenyellow;
}