.showCurrency {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 55px;
    background: #fff;
    overflow: hidden;

    .showCurrency__get {
        display: flex;
        background: #2a2d47;
        width: 100%;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 10px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0px 30px 0px 30px;
        position: relative;
        transition: 0.5s;
        left: 0;
    }

    .current__currency {
        padding: 30px 0px 30px 0px;
        font-size: 25px;
    }

    .nameCurrencyGet {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 300;
        color: #fff;
        margin: 0px 10px 0px 0px;
    }
}