.slider {
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 30px;
}

.showCurrency__get {
    display: flex;
    background: rgb(115, 123, 136);
    padding: 10px 20px;
    align-items: center;
}

.nameCurrencyGet {
    font-size: 15px;
    margin-right: 5px;
}
.current__currency {
    font-size: 35px;
}

.showCurrency {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block_one {
    display: flex;
    margin-bottom: 5px;
}

.block_two {
    display: flex;
}