@media (max-width: 600px) {
    .convert__show {
        display: block;
    }

    .convert__exgenge {
        display: block;
    }

    .currency {
        margin-bottom: 50px;
    }

    .convert__show__currency {
        padding-top: 50px;
    }
}