@media (max-width: 600px) {
    .convert__show {
        display: block;
    }

    .convert__exgenge {
        display: block;
    }

    .currency {
        margin-bottom: 50px;
    }

    .convert__show__currency {
        padding: 25px 0px 25px 0px;
    }
    .slider {
        display: flex;
        width: 100%;
        max-width: 332px;
        margin: 0 auto;
    }

    .bottomShowFulse {
        position: absolute;
        left: 20px;
        top: 690px;
        width: 55px;
        height: 50px;
        margin: 0;
    }
    .bottomShowTrue {
        position: absolute;
        right: 20px;
        top: 690px;
        width: 55px;
        height: 50px;
        margin: 0;
    }

    .burger__menu {
        width: 80%;
        left: -80%;
    }

    /* ////////////////////////MENU//////////////////////// */
}