@media (max-width: 600px) {
    .convert__show {
        display: block;
    }

    .convert__exgenge {
        display: block;
    }

    .currency {
        margin-bottom: 50px;
    }

    .convert__show__currency {
        padding: 25px 0px 25px 0px;
    }

    .bottomShowFulse {
        display: none;
    }
    .bottomShowTrue {
        display: none;
    }
}